<span>{{ title }}</span>
<span class="sps-sort-container">
    <div class="sps-item">
        <div class="sps-sort">
            {% set icon_color = options['class'] == 'asc' ? 'yellow' : 'white' %}
            <a href="{{ options['href']~'&'~sortDirectionParameterName~'=asc' }}" class="{{ options['class'] }}" title="A-Z">
                <img src="{{ asset('bundles/zk2sps/images/' ~ icon_color ~ '-asc.png') }}">
            </a>
        </div>
        <div class="sps-sort">
            {% set icon_color = options['class'] == 'desc' ? 'yellow' : 'white' %}
            <a href="{{ options['href']~'&'~sortDirectionParameterName~'=desc' }}" class="{{ options['class'] }}" title="Z-A">
                <img src="{{ asset('bundles/zk2sps/images/' ~ icon_color ~ '-desc.png') }}">
            </a>
        </div>
    </div>
</span>
