{% extends 'bootstrap_4_layout.html.twig' %}

{% block zk2_sps_date_bootstrap_type_widget %}
    {% set json = [] %}
    {% for key,val in SpsDateSetting %}
        {% set json = json|merge([key ~ ':' ~ val]) %}
    {% endfor %}
    {% apply spaceless %}
        <div class="input-group-sm date zk2-sps-filter-date" id="{{ id }}_d">
            {{ block('form_widget_simple') }}
            <span class="input-group-addon">
	            <span class="glyphicon glyphicon-calendar"></span>
	        </span>
        </div>
        <script type="text/javascript">
            if (window.filterDateParameters === undefined) {
                filterDateParameters = {};
            }
            filterDateParameters['{{ id }}_d'] = { {{ (json|join(','))|raw }} };
        </script>
    {% endapply %}
{% endblock %}

{% block zk2_sps_date_range_bootstrap_type_widget %}
    {% set json = [] %}
    {% for key,val in SpsDateSetting %}
        {% set json = json|merge([key ~ ':' ~ val]) %}
    {% endfor %}
    {% apply spaceless %}
        <div style="display: inline-block;">
            <div class="input-daterange input-group-sm date zk2-sps-filter-date" id="{{ id }}_d">
                {{ form_widget(form.start) }}
                <span class="input-group-addon">{% trans with {} from "sps" %}operator.between.to{% endtrans %}</span>
                {{ form_widget(form.end) }}
            </div>
        </div>
        <script type="text/javascript">
            if (window.filterDateParameters === undefined) {
                filterDateParameters = {};
            }
            filterDateParameters['{{ id }}_d'] = { {{ (json|join(','))|raw }} };
        </script>
    {% endapply %}
{% endblock %}

{% block zk2_sps_form_and_errors_widget_simple %}
    {% apply spaceless %}
        {% set err_mess = null %}
        <div class="sps-field-filter">
            {% for child in form %}
                {% set err_class = child.vars.errors|length ? ' sps-child-filter-error' : '' %}
                <div class="input-group-sm sps-child-filter{{ err_class }}">
                    {{ form_widget(child) }}
                    {% if child.vars.errors|length %}
                        {% set err_mess = child.vars.errors[0].message %}
                    {% elseif child.children|length %}
                        {% for ch in child.children %}
                            {% if ch.vars.errors|length %}
                                {% set err_mess = ch.vars.errors[0].message %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% if err_mess %}
                <div class="sps-child-filter-error-mess">{{ err_mess }}</div>
            {% endif %}
        </div>
    {% endapply %}
{% endblock %}

{% block zk2_sps_form_widget_simple %}
    {% apply spaceless %}
        <div class="sps-field-filter">
            {% for child in form %}
                <div class="input-group-sm sps-child-filter">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endapply %}
{% endblock %}

{% block zk2_sps_date_filter_type_widget %}
    {{- block('zk2_sps_form_and_errors_widget_simple') -}}
{% endblock %}

{% block zk2_sps_date_range_filter_type_widget %}
    {{- block('zk2_sps_form_and_errors_widget_simple') -}}
{% endblock %}

{% block zk2_sps_numeric_filter_type_widget %}
    {{- block('zk2_sps_form_and_errors_widget_simple') -}}
{% endblock %}

{% block zk2_sps_choice_filter_type_widget %}
    {{- block('zk2_sps_form_widget_simple') -}}
{% endblock %}

{% block zk2_sps_boolean_filter_type_widget %}
    {{- block('zk2_sps_form_widget_simple') -}}
{% endblock %}

{% block zk2_sps_string_filter_type_widget %}
    {{- block('zk2_sps_form_widget_simple') -}}
{% endblock %}
